<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

    <section id="accueil">
        <% layout('layout') %>
   <h1>Bienvenue sur Assurance NDOVOO</h1>
   <p>Découvrez nos offres d'assurance pour automobile et maison.</p>

 </section>



    </div>
</body>
</html>